
<div class="row">
  <div class="col s4 offset-s4">

  <h5>Welcome to Hell!</h5>
    <%= link_to("Create User", new_user_path, class: "waves-effect waves-light btn") %>
    <br><br>
    <%= link_to("Users", users_path, class: "waves-effect waves-light btn") %>
    <br><br>
    <%= link_to("Products", products_path, class: "waves-effect waves-light btn") %> 
  </div>
</dvi>